.ns-root,
* {
  --bg: #fff;
  --accent: #6466e9;
  --card-bg: #f3f4f6;
  --text-primary: #000;
  --border-clr: #e5e7eb;
  --br: 5;
  .ns-dark & {
    --bg: #111827;
    --card-bg: #1f2937;
    --text-primary: #fff;
    --border-clr: #374151;
  }
}
