.stat {
  margin-right: 0.75rem;
  transform: translateY(-0.5px);
}

.statButton {
  margin-left: -5;
  margin-right: -2;
}

.repostPost {
  margin-top: 10;
}

.regularComment {
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 10;
}
